a {
    text-decoration: none;
    color: black;
}

header{
    text-align: center;
    background-color: cadetblue;
    color: white;
    padding: 30px;
    font-size: 40px;
}

.div{
    text-align: center;
    font-size: 12px;
}

.div2{
    font-size: 20px;
}

#tlacitko{
    background-color: teal;
    color: white;
    padding: 5px;
    text-align: right;
    display: inline-block;
    font-size: 18px;
    border-radius: 12px;
}

main{
    margin: 200px;
    margin-top: 0px;
}
.kategorie{
    background-color: teal;
    color: white;
    border-radius: 8px;
    padding: 5px;
    
}
#odkaz{
    font-size: 20px;
}
footer{
    text-align: center;
    background-color: teal;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}